---
// Import Layout
// import ContainerUtilityLayout from '../../layouts/ContainerUtilityLayout.astro';

// Import CSS
// import '../../styles/utils.css';

// Import Icons
import { Icon } from 'astro-icon/components';

// Import Smaller Component pieces
import HeaderLink from '../react/HeaderLink.jsx';
// import MobileNavLink from '../MobileNavLink.astro';
import MobileNavLink from '../react/MobileNavLink.jsx';

// Data
const { className } = Astro.props;
const currentPath = Astro.url.pathname;
const navItems = [
  {
    title: 'Home',
    href: '/',
  },
  {
    title: 'Blog',
    href: '/blog',
  },
];
---

<!-- Header Section -->
<header class=`header container`>
  <p class="header__logo">FUMEZ</p>

  <!-- Embed the `menu-icon` icon from `@iconify-json/mdi` -->
  <button class="header__menu-bar" aria-label="menu button"
    ><Icon name="mdi:menu" aria-hidden="true" /></button
  >

  <!-- Desktop Navigation Menu -->
  <nav class="header__menu">
    {
      navItems.map((item) => {
        return (
          <HeaderLink href={item.href} currentPath={currentPath}>
            {item.title}
          </HeaderLink>
        );
      })
    }
  </nav>
</header>

<!-- Mobile Navigation -->
<MobileNavLink
  client:load
  navItems={navItems}
  currentPath={currentPath}
/>

<style>
  .header {
    /* Layout */
    display: flex;
    flex-direction: row;

    /** Box Model **/
    padding-top: 2rem;
    padding-bottom: 2rem;

    /* Position */
    position: relative;
    z-index: 9999;
  }

  .header__logo {
    flex: 1;
  }

  .header__menu {
    display: none;
  }

  .header__menu-icon {
    /* Layout */
    /* flex: 1; */

    /* Typography  */
    /* font-size: 1rem; */
  }

  /*  */

  .header__socials {
    /** Layout **/
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }

  .header__social-media {
    color: white;
    text-decoration: none;
  }

  .header__social-media:hover {
    color: #f3dfbfff;
  }

  /* MOBILE FIRST PRE-DEFINED MEDIA QUERIES */
  /* xs */
  /* @media (min-width: 475px) {} */

  /* sm */
  /* @media (min-width: 640px) {} */

  /* md */
  @media (min-width: 768px) {
    .header__menu {
      /* Layout  */
      flex: 1;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2em;

      /* Box Model */
      padding: 0;
    }

    .header__menu-bar {
      display: none;
    }
  }

  /* lg */
  /* @media (min-width: 1024px) {
  } */

  /* xl */
  /* @media (min-width: 1280px) {} */

  /* 2xl */
  /* @media (min-width: 1536px) {} */
</style>

<script>
  // Select the Menu Icon
  const headerBtn = document.querySelector('.header__menu-bar');

  // Select the Mobile Navigation div
  const mobileNav = document.querySelector(
    '.mobile-nav'
  ) as HTMLElement;

  function handleToggleClick() {
    console.log('Burger pressed');

    // Toggle inactive class
    mobileNav.classList.toggle('inactive');

    if (mobileNav.classList.contains('inactive')) {
      document.body.style.overflowY = 'auto';
    } else {
      document.body.style.overflowY = 'hidden';
    }
  }

  // Add an Event Listener to it
  headerBtn?.addEventListener('click', handleToggleClick);
</script>
