---


// Import Icons
import { Icon } from "astro-icon/components";

// Import Smaller Component pieces
// import HeaderLink from "../small-piece/HeaderLink.astro";
import HeaderLink from "../react/HeaderLink.jsx"


const { className } = Astro.props;
const currentPath = Astro.url.pathname;

---

<!-- Header Section -->
<header class=`header ${className}`>
    <!-- <h3 class='header__logo'>FUMEZ</h3> -->

    <nav class="header__nav">
        <HeaderLink client:load href="/" currentPath={currentPath}>Home</HeaderLink>
        <HeaderLink client:load href="/projects/" currentPath={currentPath}>Projects</HeaderLink>
        <HeaderLink client:load href="/blogs/" currentPath={currentPath}>Blog</HeaderLink>
        <HeaderLink client:load href="/shop/" currentPath={currentPath}>Shop</HeaderLink>
    </nav>

    <div class="header__socials">
        <a class="header__social-media" href="http://www.youtube.com/@FumezCreates" target="_blank"><Icon name="youtube" size={25}/></a>
        <a class="header__social-media" href="https://github.com/fumzy123" target="_blank"><Icon name="github" size={25} /></a>
    </div>

</header>

<!-- Style Header Section -->
<style>
    .header {

        /* Layout */
        display: flex;
        flex-direction: row;
        
        /** Box Model **/
        padding: 1rem 0rem 1rem;

        /* Typography  */
        /* color: white; */
    }

    .header__nav {
        /* Layout  */
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1.5rem;
    }

    

    .header__socials {
        /** Layout **/
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
    }

    .header__social-media {
        color: white;
        text-decoration: none;
    }

    .header__social-media:hover {
        color: #f3dfbfff;
    }

</style>