---
import BaseLayout from '@layouts/BaseLayout.astro';
import { storyblokEditable, renderRichText } from '@storyblok/astro';

const { blok } = Astro.props;
const renderedRichContent = renderRichText(blok.content);
---

<BaseLayout>
  <article class="container" {...storyblokEditable(blok)}>
    <!-- <img alt={blok.image.alt} src={`${blok.image.filename}`} /> -->
    <h3>{blok.title}</h3>
    <p>{blok.teaser}</p>
    <Fragment set:html={renderedRichContent} />
  </article>
</BaseLayout>
