---
// Import Base Layout
import BaseLayout from '../layouts/BaseLayout.astro';

// Import a Small Component
import FormattedDate from '../components/shared/FormattedDate.astro';

// Import Collections Utility and Get Blog Post
import { getCollection } from 'astro:content';
const allWebDevelopmentBlogPost =
  await getCollection('web-development');

import { Image } from 'astro:assets';
import AllArticles from '../storyblok/BlogPostList.astro';

// StoryBlok
import { useStoryblokApi } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import BlogPostList from '../storyblok/BlogPostList.astro';

// Get the BlogPostList story
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get('cdn/stories/blog-feed', {});
---

<BaseLayout>
  <section class="blog-list container">
    <h2 class="section-title">Blogs</h2>
    <ul class="blog-card-container">
      {
        allWebDevelopmentBlogPost.map((post) => (
          <li class="blog-card-item">
            <a
              class="blog-card-item-link"
              href={`/blogs/web-development/${post.slug}`}
            >
              <div class="blog-card">
                <div class="blog-image-container">
                  <Image
                    class="blog-image"
                    src={post.data.imageCover}
                    alt={post.data.imageCoverAlt}
                  />
                </div>
                <div class="blog-info">
                  <header class="blog-card-date">
                    <FormattedDate date={post.data.pubDate} />
                  </header>

                  <h3 class="blog-title">{post.data.title}</h3>
                </div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
    <BlogPostList />
  </section>
</BaseLayout>

<style>
  .section-title {
    font-size: var(--size-4xl);
  }
  .blog-card-container {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog-card-item {
    list-style: none;

    /* Box Model */
    border-radius: 10px;
    border: 2px solid var(--clr-slate600);

    /* Typography */
    text-decoration: none;
    color: white;
  }

  .blog-card-item-link {
    /* Typogrpahy */
    color: var(--clr-dutch-whtie);
    text-decoration: none;
  }

  .blog-card {
    padding: 1rem;
  }
  .blog-card-date {
    /* padding: 1rem; */
  }

  /* Image */
  .blog-image-container {
    /* This is an Image Wrapper that ensures the image maintains
    a particular aspect ratio.
     */
    aspect-ratio: 1 / 1;
  }

  .blog-image {
    border-radius: 10px;
    /* Image has a max-width and height to fill the parent div element */
    max-height: 100%;
    /* Zooms in-and-out to cover the entire width and height without stretching */
    object-fit: cover;
  }

  .blog-info {
    margin-top: 2rem;
  }

  .blog-title {
    margin-top: 0.5rem;
  }

  /* MOBILE FIRST PRE-DEFINED MEDIA QUERIES */
  /* xs */
  /* @media (min-width: 475px) {
  } */

  /* sm */
  @media (min-width: 640px) {
    .blog-card-item {
      max-width: 480px;
    }

    .blog-card {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
    .blog-image-container {
      flex: 1;
    }
    .blog-info {
      flex: 1;
    }
  }

  /* md */
  /* @media (min-width: 768px) {} */

  /* lg */
  /* @media (min-width: 1024px) {} */

  /* xl */
  /* @media (min-width: 1280px) {} */

  /* 2xl */
  /* @media (min-width: 1536px) {} */
</style>
